@import "~bootstrap/dist/css/bootstrap.min.css";

/* You can add global styles to this file, and also import other style files */

body {
    margin:0px;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
}


// Removing boostrap changes on box-sizing
*, *::before, *::after {
    box-sizing: content-box !important;
}

@font-face {
    font-family: Metropolis;
    src: url(/src/assets/fonts/Metropolis-Medium.otf);
}

p {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
    color:#120C39;
}

.progress-bar {
    border-radius: 10px
}


/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
